// Colors

$color-grey-primary: #a4a1a2;
$color-grey: gray;
$color-grey-light: lightgrey;
$color-white: #fff;
$color-red: rgb(255, 0, 0);
$color-red-light: rgba(255, 0, 0, 0.8);
$color-beige: beige;
$color-black: black;
